import(xml2)
import(BiocFileCache)

importMethodsFrom(methods, show)

importFrom(methods, new)
importFrom(RCurl, getURL)
importFrom(utils, download.file, menu)
importFrom(rappdirs, user_cache_dir)

exportClasses(PXDataset)

export(
    PXDataset,
    show,
    pxid,
    pxurl,
    pxtax,
    pxref,
    pxfiles,
    pxget,
    pxannounced)
