import(XML)
import(RCurl)
import(methods)

export(PXDataset)

exportClasses(PXDataset)

exportMethods(show,
              pxid,
              pxurl,
              pxtax,
              pxref,
              pxfiles,
              pxget)

export(pxannounced)

