import(xml2)

importMethodsFrom(methods, show)

importFrom(methods, new)

importFrom(RCurl, getURL)

importFrom(utils, download.file, menu)

exportClasses(PXDataset)

export(
    PXDataset,
    show,
    pxid,
    pxurl,
    pxtax,
    pxref,
    pxfiles,
    pxget,
    pxannounced)
